/* Custom boostrap scss overrides can go here! */
.opacity-0 {
  opacity: 0; }

.opacity-1 {
  opacity: 1; }

.no-gutters-row {
  margin-right: 0;
  margin-left: 0; }

.align-center {
  display: block;
  margin: 0 auto; }

.h-200vh {
  height: 200vh; }

.bg-ctBlue {
  background-color: #00a2ea; }

.text-ctBlue,
.text-ctBlue * {
  color: #00a2ea; }

.border-ctBlue {
  border-color: #00a2ea; }

.bg-ctDarkPurple {
  background-color: #9D00FF; }

.text-ctDarkPurple,
.text-ctDarkPurple * {
  color: #9D00FF; }

.border-ctDarkPurple {
  border-color: #9D00FF; }

.bg-ctLightPurple {
  background-color: #7E69FF; }

.text-ctLightPurple,
.text-ctLightPurple * {
  color: #7E69FF; }

.border-ctLightPurple {
  border-color: #7E69FF; }

.bg-ctOrange {
  background-color: #ff5e01; }

.text-ctOrange,
.text-ctOrange * {
  color: #ff5e01; }

.border-ctOrange {
  border-color: #ff5e01; }

.bg-ctGreen {
  background-color: #00d190; }

.text-ctGreen,
.text-ctGreen * {
  color: #00d190; }

.border-ctGreen {
  border-color: #00d190; }

.bg-ctLuminousGreen {
  background-color: #CAC300; }

.text-ctLuminousGreen,
.text-ctLuminousGreen * {
  color: #CAC300; }

.border-ctLuminousGreen {
  border-color: #CAC300; }

.bg-ctDarkBlue {
  background-color: #302D42; }

.text-ctDarkBlue,
.text-ctDarkBlue * {
  color: #302D42; }

.border-ctDarkBlue {
  border-color: #302D42; }

.bg-ctMedBlue {
  background-color: #525061; }

.text-ctMedBlue,
.text-ctMedBlue * {
  color: #525061; }

.border-ctMedBlue {
  border-color: #525061; }

.bg-ctLightBlue {
  background-color: #a3a2aa; }

.text-ctLightBlue,
.text-ctLightBlue * {
  color: #a3a2aa; }

.border-ctLightBlue {
  border-color: #a3a2aa; }

.bg-ctLightGrey {
  background-color: #595959; }

.text-ctLightGrey,
.text-ctLightGrey * {
  color: #595959; }

.border-ctLightGrey {
  border-color: #595959; }

.bg-ctGrey {
  background-color: #495057; }

.text-ctGrey,
.text-ctGrey * {
  color: #495057; }

.border-ctGrey {
  border-color: #495057; }

.bg-ctVeryLightGrey {
  background-color: #ebecec; }

.text-ctVeryLightGrey,
.text-ctVeryLightGrey * {
  color: #ebecec; }

.border-ctVeryLightGrey {
  border-color: #ebecec; }

.bg-ctLightGreen {
  background-color: #809086; }

.text-ctLightGreen,
.text-ctLightGreen * {
  color: #809086; }

.border-ctLightGreen {
  border-color: #809086; }

.bg-cegaRed {
  background-color: #C00000; }

.text-cegaRed,
.text-cegaRed * {
  color: #C00000; }

.border-cegaRed {
  border-color: #C00000; }

.bg-ctOffWhite {
  background-color: #D9D9D9; }

.text-ctOffWhite,
.text-ctOffWhite * {
  color: #D9D9D9; }

.border-ctOffWhite {
  border-color: #D9D9D9; }

.bg-white {
  background-color: #fff; }

.text-white,
.text-white * {
  color: #fff; }

.border-white {
  border-color: #fff; }

#page-block-video-player .py-video-player {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed, .embed-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

video {
  max-width: 100%; }

.video-banner-wrapper .video-banner {
  position: relative; }
  .video-banner-wrapper .video-banner .video-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-size: cover;
    background-position: center center; }
  .video-banner-wrapper .video-banner .controls {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .video-banner-wrapper .video-banner .controls #mute {
      position: absolute;
      right: 0;
      top: 1em;
      z-index: 2; }
    .video-banner-wrapper .video-banner .controls .hideIcon {
      display: none; }
    .video-banner-wrapper .video-banner .controls .main-controls {
      position: relative;
      display: table;
      width: 100%;
      height: 100%; }
      .video-banner-wrapper .video-banner .controls .main-controls #playVideo {
        display: inline-block;
        width: 100%;
        height: 127px; }
        .video-banner-wrapper .video-banner .controls .main-controls #playVideo.hideIcon {
          opacity: 0; }
      .video-banner-wrapper .video-banner .controls .main-controls .controls-holder {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
  .video-banner-wrapper .video-banner .wideContainer {
    position: relative; }
  .video-banner-wrapper .video-banner video {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%; }